body{
font-family:'Segoe UI', sans-serif;
background: radial-gradient(circle at center,#3b0000,#0b0b0b);
color:white;
margin:0;
padding:20px;
}

.card{
    background:linear-gradient(145deg,#1a1a1a,#0f0f0f);
    color: #fff;
    padding:2rem;
    border-radius:18px;
    width:100%;
    /* max-width:450px; */
    text-align:center;
    border:2px solid #d4af37;
    box-shadow:0 0 25px rgba(212,175,55,0.35),0 15px 40px rgba(0,0,0,0.7);
}

h2{
color:#ffd700;
margin-bottom:5px;
letter-spacing:1px;
}

.lista-inputs{
margin:20px 0;
max-height:300px;
overflow-y:auto;
padding-right:10px;
}

.input-group{
margin-bottom:12px;
cursor:grab;
}

.input-nombre{
width:100%;
padding:12px;
background:#0f0f0f;
border:1px solid #3a3a3a;
border-radius:8px;
color:white;
box-sizing:border-box;
outline:none;
transition:border .2s, box-shadow .2s;
}

.input-nombre:focus{
border-color:#d4af37;
box-shadow:0 0 8px rgba(212,175,55,0.6);
}

.animate-in{
animation:fadeIn .4s ease;
}

@keyframes fadeIn{
from{opacity:0; transform:translateY(-10px);}
to{opacity:1; transform:translateY(0);}
}

.controles{
display:flex;
flex-direction:column;
gap:10px;
margin-top:20px;
}

.btn-primary{
background:linear-gradient(145deg,#b30000,#ff1a1a);
color:white;
padding:14px;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
letter-spacing:.5px;
box-shadow:0 0 10px rgba(255,0,0,0.6);
transition:transform .2s, box-shadow .2s;
}

.btn-primary:hover{
transform:translateY(-2px);
box-shadow:0 0 18px rgba(255,0,0,0.9);
}

.btn-secundario{
background:transparent;
color:#d4af37;
padding:10px;
border:1px dashed #d4af37;
border-radius:8px;
cursor:pointer;
font-weight:500;
}

.btn-secundario:hover{
background:rgba(212,175,55,0.1);
}

.trash-can{
margin-top:20px;
padding:20px;
border:2px dashed #ff3b3b;
border-radius:10px;
color:#ff3b3b;
transition:all .3s;
}

.trash-can.drag-over{
background:rgba(255,59,59,0.2);
transform:scale(1.05);
}

.submenu{
display:grid;
grid-template-columns:1fr;
gap:15px;
margin-top:20px;
padding:15px;
background:#222;
border-radius:10px;
border:1px solid #3a3a3a;
animation:fadeIn .3s ease;
}

.opcion{
display:flex;
flex-direction:column;
gap:6px;
}

.opcion-contenido{
display:flex;
flex-direction:column;
gap:8px;
}

.opcion-contenido button{
padding:8px 14px;
width:auto;
}

.opcion-contenido{
display:flex;
align-items:center;
gap:10px;
flex-wrap:wrap;
}

.btn-terceario{
background:transparent;
color:#d4af37;
padding:10px;
border:1px dashed #d4af37;
border-radius:8px;
cursor:pointer;
font-weight:500;
}

.input-mas{
flex:1;
padding:10px;
background:#0f0f0f;
border:1px solid #3a3a3a;
border-radius:8px;
color:white;
box-sizing:border-box;
outline:none;
min-width:120px;
}

.input-mas:focus{
border-color:#d4af37;
box-shadow:0 0 8px rgba(212,175,55,0.6);
}